@using RRshop.Data
@model RRshop.ViewModels.BuyProdViewModel

@{
    ViewBag.Title = "Заказать товар";
}

<h2>Заказать</h2>

<div class="col-10">
        <div class="row">
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: 18rem; height: 32rem">
                        <img src="@Literals.PathForProdImg@Model.Prod.ImgPath" class="card-img-top" alt="...">
                        <div class="card-body my-2">
                            <h5 class="card-title">@Model.Prod.Title</h5>
                            <h5 class="card-title">@Model.Prod.Price руб.</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Model.Prod.Category.Title</h6>
                            <h6 class="card-subtitle mb-2">Цвет: @Model.Prod.Color</h6>
                            <br/>
                            <form asp-action="UserCartAdd">
                                <input type="number" asp-for="@Model.Count" class="input-group-lg fs-5">
                                <button asp-action="UserCartAdd" asp-route-count="@Model.Count" asp-route-prodId="@Model.Prod.Id" class="btn my-1 btn btn-warning fs-3">
                                    Купить
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
        </div>
    </div>