@using RRshop.Data
@model RRshop.ViewModels.BuyProdViewModel

@{
    ViewData["Title"] = "Заказать товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заказать</h2>
<div class="card flex-row"><img class="card-img-left example-card-img-responsive" 
                                style="width: 500px"
                                src="@Literals.PathForProdImg@Model.Prod.ImgPath"/>
  <div class="card-body">
    <div class="card-body my-2">
            <h5 class="card-title">@Model.Prod.Title</h5>
            <h5 class="card-title">@Model.Prod.Price руб.</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Prod.Category.Title</h6>
            <h6 class="card-subtitle mb-2">Цвет: @Model.Prod.Color</h6>
            <br/>
            <form asp-action="UserCartAdd">
                @*<input type="number" asp-for="@Model.Count" class="input-group-lg fs-5">*@
        @{
                        var selectList = new SelectList(
                        new List<SelectListItem>
        {
                    new SelectListItem {Text = "1", Value = "1" },
                    new SelectListItem {Text = "2", Value = "2" },
                    new SelectListItem {Text = "3", Value = "3" },
                    new SelectListItem {Text = "4", Value = "4" },
                    new SelectListItem {Text = "5", Value = "5" }
        }, "Value", "Text");
                    }
                @Html.DropDownListFor(m => m.Count, selectList, new { @class = "form-control" })

                <button asp-action="UserCartAdd" asp-route-count="@Model.Count" asp-route-prodId="@Model.Prod.Id" 
                        class="nav-link text-white btn-dark btn-lg  mx-2 px-lg-5 my-lg-5">
                    Купить
                </button>
            </form>

        </div>
  </div>
</div>